* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    background: #121212;
    color: #fff;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  --webkit-font-smoothing: antialiased;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
  color: #fff;
}

.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}


.cardWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 140px);
}



